@import "variables";

@import "bootstrap/scss/bootstrap";
@import "bootstrap-icons/font/bootstrap-icons.css";

@import url(https://fonts.bunny.net/css?family=work-sans:300,400,600);

@import 'mapbox-gl/dist/mapbox-gl.css';
@import '@mapbox/mapbox-gl-geocoder/dist/mapbox-gl-geocoder.css';

/********************************* COMMONS */

$colors: $primary-color-1 $primary-color-2 $secondary-color-1 $gray-color-1 $black-1 $food-primary-1;

@each $color in $colors {
    $i: index($colors, $color);

    .primary-#{$i} {
        a {
            color: $color;
        }

        h4 {
            color: $color;
            margin-top: 0;
        }

        .fancy-bg {
            background: repeating-linear-gradient(-45deg, $color, $color 2px, #FFF 2px, #FFF 12px);
        }

        .dense-fancy-bg {
            background: repeating-linear-gradient(-45deg, $color, $color 9px, #FFF 2px, #FFF 12px);
        }

        .txt-color {
            color: $color !important;
        }

        .button {
            @extend .fancy-bg;
            text-align: center;
            border: 0;
            padding: 10px;
            width: 100%;
            display: block;

            span {
                background-color: $color;
                color: #FFF;
                padding: 10px;
                display: block;
                text-transform: uppercase;
            }
        }

        .pagetitle {
            @extend .button;
            margin-bottom: 30px;

            span {
                padding: 20px;
                font-weight: bold;
                font-size: 30px;
            }
        }

        .dense-button {
            @extend .dense-fancy-bg;
            border: 0;
            padding: 17px;
            width: 100%;
            display: block;
            font-size: 40px;
            font-weight: bold;
            text-align: center;

            span {
                background-color: #FFF;
                color: $color;
                padding: 10px;
                display: block;
                text-transform: uppercase;
            }
        }

        .screaming-border {
            border: 15px solid $color;

            span {
                font-weight: bold;
                padding: 15px;
            }
        }

        .nav-tabs {
            display: flex;
            align-items: stretch;
            justify-content: space-between;
            margin-bottom: 10px;

            > li {
                @extend .pagetitle;
                text-align: center;

                a {
                    color: #FFF;
                }
            }
        }

        .top-border {
            border-top: 2px solid $color;
        }

        .tb-border {
            border-top: 2px solid $color;
            border-bottom: 2px solid $color;
        }

        .common-card {
            @extend .fancy-bg;
            color: $color;

            .card-main {
                background-color: $color;

                &.empty {
                    background-color: #FFF;
                }
            }

            .card-main-filter {
                background-color: $color;
            }

            .card-footer {
                &.filled {
                    background-color: $color;
                    font-weight: 600;

                    p {
                        color: #FFF;
                    }
                }
            }
        }

        .bg-color {
            background-color: $color !important;
        }

        .border-top {
            border-top: 2px solid $color !important;
        }

        .border-bottom {
            border-bottom: 2px solid $color !important;
        }

        .bordered-spaced {
            @extend .border-top;
            @extend .border-bottom;
            padding: 20px 0;
            color: $color;
            margin-bottom: 20px;
        }

        hr.colored {
            border-bottom: 2px solid $color;
            background: none;
            margin-top: 30px;
            margin-bottom: 30px;
        }

        .left-border {
            border-left: 1px solid $color;
            padding-left: 10px;
        }

        .form-check {
            padding-left: 0;

            input {
                opacity: 0;
                position: absolute;
            }

            input, label {
                display: inline-block;
                vertical-align: middle;
                margin: 5px;
                cursor: pointer;
            }

            label {
                position: relative;
                padding-left: 0;
            }

            input + label:before {
                content: '';
                background: #FFF;
                border: 2px solid $color;
                display: inline-block;
                vertical-align: middle;
                width: 20px;
                height: 20px;
                padding: 2px;
                margin-right: 10px;
                text-align: center;
            }

            input[type=radio] + label:before {
                border-radius: 50%;
            }

            input:checked + label:before {
                background: $color;
                box-shadow: inset 0px 0px 0px 4px #FFF;
            }
        }
    }

    .common-card {
        &.primary-#{$i} {
            color: $color !important;

            .card-main {
                background-color: $color !important;
            }

            .card-main-filter {
                background-color: $color !important;
            }

            .card-footer {
                &.filled {
                    background-color: $color !important;
                }
            }
        }
    }
}

body {
    color: #000;
}

.common-link {
    text-transform: uppercase;
    border-bottom: 1px solid;
    border-color: inherit;
}

.bg-white {
    background-color: #FFF;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.arrowlink {
    font-weight: bold;
    text-decoration: underline;

    &:before {
        font-weight: initial;
        font-family: "Work Sans", sans-serif;
        content: "\2192  ";
    }
}

.other-arrowlink {
    font-weight: bold;

    &:after {
        font-weight: initial;
        font-family: "Work Sans", sans-serif;
        content: "\2192  ";
    }
}

hr.black {
    border-bottom: 2px solid #000;
    background: none;
    margin-top: 30px;
    margin-bottom: 30px;
}

h1, .h1, h2, .h2, h3, .h3 {
    margin-top: 0;
}

.form-label {
    color: #000;
    text-transform: uppercase;
    font-weight: normal;
}

.donation-modal {
    form {
        label {
            padding-right: 20px;
        }
    }
}

.form-control {
    padding: 0;
    border: none;
    background-attachment: local;
    background-image: linear-gradient(to left, white 13px, transparent 13px), repeating-linear-gradient(white, white 19px, $primary-color-1 19px, $primary-color-1 20px, white 20px);
    line-height: 20px;
    box-shadow: none;
    color: #555;

    &:focus {
        box-shadow: none;
    }
}

.right-p {
    padding-right: 20px !important;
}

.left-p {
    padding-left: 20px !important;
}

.right-border {
    border-right: 1px solid #FFF;
}

.spaced-below {
    margin-bottom: 40px;
}

.spaced-middle {
    margin: 20px 0;
}

.danger-button {
    background: repeating-linear-gradient(-45deg, #F00, #F00 2px, #FFF 2px, #FFF 12px);
    animation: blink-animation 0.5s steps(5, start) infinite;
    text-align: center;
    border: 0;
    padding: 10px;
    width: 100%;
    display: block;

    span {
        background-color: #F00;
        color: #FFF;
        padding: 10px;
        display: block;
        text-transform: uppercase;
    }
}

@keyframes blink-animation {
    to {
        background: repeating-linear-gradient(-45deg, #FFF, #FFF 2px, #F00 2px, #F00 12px);
    }
}

.square-block {
    color: #000;
    height: 300px;
    text-align: center;
    display: table;
    border: 0;

    .content {
        display: table-cell;
        vertical-align: middle;

        .top {
            padding: 20px;
            font-weight: bold;
            border-bottom: 2px solid $primary-color-2;
            display: inline-block;
        }

        .bottom {
            padding: 20px;
            display: block;
        }
    }
}

.image-frame {
    background-size: cover;
    background-position: center;
}

.vert-align {
    display: table;

    p {
        display: table-cell;
        vertical-align: middle;
    }
}

.modal-content {
    border-radius: 0px;

    .modal-title {
        color: $primary-color-2;
        margin-top: 10px;
    }

    .modal-body {
        > .row {
            margin-left: 10px;
            margin-right: 10px;
            margin-bottom: 0;
        }
    }
}

.common-card {
    width: 100%;
    height: 500px;
    border: 20px solid;
    position: relative;

    .card-main {
        position: absolute;
        top: 5%;
        left: 5%;
        height: 65%;
        max-width: 90%;
        min-width: 90%;
        color: #FFF;
        font-size: 50px;
        box-sizing: border-box;
        text-align: center;
        border-bottom: 0;
    }

    .card-main-filter {
        @extend .card-main;
        opacity: 0.6;
    }

    .card-main-overlay {
        @extend .card-main;
        background-color: transparent !important;
        text-transform: uppercase;
        display: table;

        span {
            font-size: 31px;
            font-weight: bold;
            display: table-cell;
            vertical-align: middle;

            p {
                margin: 0;
            }

            img {
                width: 60%;
            }
        }
    }

    .card-footer {
        position: absolute;
        bottom: 5%;
        left: 5%;
        height: 20%;
        width: 90%;
        background-color: #FFF;
        box-sizing: border-box;
        padding: 20px 30px;
        text-align: center;
        text-transform: uppercase;

        a {
            @extend .common-link;
        }
    }
}

.black {
    color: #000 !important;
}

@media (min-width: 1900px) {
    .container {
        width: 1350px;
        padding-right: 0;
        padding-left: 0;
    }
}

/********************************* NAVIGAZIONE */

.navbar-default {
    border: 0;

    .container {
        .row {
            position: relative;

            .navbar-brand {
                height: 80%;
                width: 30%;
                position: absolute;
                bottom: 0;
                right: 45%;
                left: 5px;
                background-image: url('../logo');
                background-repeat: no-repeat;
                background-size: contain;
                margin-left: 0;
            }

            .navbar-brand-food {
                height: 80%;
                position: absolute;
                bottom: 0;
                right: 0;
                left: 32%;
                background-image: url('../images/food.svg');
                background-repeat: no-repeat;
                background-size: contain;
                margin-left: 0;
            }

            .navbar-brand-house {
                height: 80%;
                position: absolute;
                bottom: 0;
                right: 0;
                left: 42%;
                background-image: url('../images/casa.png');
                background-repeat: no-repeat;
                background-size: contain;
                margin-left: 0;
            }
        }
    }
}

.navbar-right {
    margin-top: 20px;
    padding-top: 10px;
    text-transform: uppercase;

    .row {
        margin-right: 0;
        margin-left: 0;
    }

    span {
        text-transform: none;
    }

    .top-main-buttons {
        min-width: 300px;

        .city-title {
            padding-right: 10px;
            font-size: 20px;

            a {
                color: $primary-color-2 !important;
                display: block;
            }

            .city-name {
                font-size: 30px;
                font-weight: bold;
                color: $primary-color-2;
                text-transform: uppercase;
                white-space: nowrap;
            }
        }
    }
}

.navbar-nav {
    > li {
        a {
            padding: 3px 0;
            text-decoration: none;
            color: #000 !important;
        }
    }
}

.navbar-mobile {
    padding: 0 20px;
}

.tagline {
    border-top: 2px solid $primary-color-2;
    padding: 20px 0;
    display: block;
    color: $primary-color-2;

    &:before {
        font-family: "Work Sans", sans-serif;
        content: "\2192";
        margin-right: 5px;
    }
}

.main-menu {
    border-top: 2px solid $primary-color-2;
    margin-bottom: 40px;
    padding: 30px 0 0 0;
    display: flex;
    align-items: stretch;
    justify-content: space-between;

    li {
        text-transform: uppercase;
        list-style: none;
        flex: 0 1 auto;
        border-bottom: 2px solid #FFF;

        a {
            color: #000;
            text-decoration: none;
        }

        &:hover {
            border-bottom: 2px solid #000;
        }
    }
}

/********************************* HOMEPAGE */

.header-claim {
    box-sizing: border-box;
    color: #FFF;
    padding: 30px;
    margin-bottom: 40px;
    font-size: 35px;
    text-align: center;

    a {
        @extend .common-link;
        font-size: $font-size-base;
        color: inherit;
    }
}

.home-cover {
    margin: auto;
}

.tb-border {
    height: 500px;
}

.double-side {
    font-size: 28px;
    display: table;

    .col-md-4 {
        float: none;
        display: table-cell;
        vertical-align: middle;
    }

    img {
        width: 70%;
    }
}

.footer-credits {
    padding: 40px 0;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    font-weight: bold;

    img {
        max-width: 90px;
        height: auto;
        margin: 10px;
    }
}

/********************************* CELO/MANCA */

.categories-select {
    margin: 40px 0;
    padding: 0;

    .border-top {
        span {
            padding: 15px 0;
            display: block;

            a {
                color: #000;
                text-decoration: none;
            }
        }
    }

    ul {
        padding-left: 10px;
    }

    li {
        list-style: none;
        text-transform: uppercase;

        &.selected {
            font-weight: bold;

            li {
                span {
                    font-weight: bold;
                }
            }
        }
    }
}

.show-details {
    cursor: pointer;
}

.fileuploader {
    cursor: pointer;
    margin-bottom: 20px;
}

.removefile {
    cursor: pointer;
    color: #F00 !important;
}

#mapid {
    height: 100%;
}

.map-select {
    width: 100%;
    height: 300px;
}

.celo, .manca {
    .common-card {
        margin-bottom: 22px;
    }
}

.form-horizontal {
    .form-group {
        margin-left: 0;
        margin-right: 0;
    }
}

.btn-flow {
    white-space: normal !important;
    word-wrap: break-word;
}

/********************************* PROGETTO */

.credits {
    font-size: 17px;

    .intro {
        text-decoration: underline;
        color: $primary-color-1;
    }
}

/********************************* COME FUNZIONA */

.working {
    a {
        color: #000;
        text-decoration: underline;
    }
}

/********************************* MIE DONAZIONI */

.mydonations {
    color: #000;

    .mydonation {
        border-top: 2px solid #000;
        padding: 20px;

        h2 {
            display: inline-block;
            text-transform: uppercase;
            border-bottom: 2px solid #000;
        }

        &:nth-child(even) {
            float: right;
        }
    }
}

/********************************* NUMERI */

.numbers {
    .metric {
        float: left;
        width: 100%;
        display: flex;
        align-items: center;

        .name {
            width: 30%;
            margin: 0 20px;
            display: inline-block;
            text-align: right;
            text-transform: uppercase;
        }

        .bar {
            width: 69%;
            float: right;
            display: flex;
            align-items: center;

            .indicator {
                background: repeating-linear-gradient(90deg, #000, #000 4px, #FFF 2px, #FFF 7px);
                margin-right: 20px;
                display: inline-block;
            }

            span {
                font-size: 40px;
                display: inline-block;
            }
        }
    }
}

.stories {
    .story-cell {
        background-size: cover;
        text-align: left;
        font-size: 30px !important;
        font-weight: bold !important;
        min-height: 280px;
        overflow: hidden;

        span {
            padding: 20px !important;
            background-color: transparent !important;
        }

        .index {
            color: $secondary-color-1 !important;
        }

        .title {
            color: #FFF !important;
            text-shadow: 0 0 10px black;
            position: relative;

            &:after {
                text-align: right;
                font-weight: initial;
                font-family: "Work Sans", sans-serif;
                content: "\2192  ";
                position: absolute;
                right: 37px;
                bottom: 37px;
            }
        }
    }
}

.item {
    margin: 20px;
    position: relative;
    width: 90%;
    padding-top: 90%;
    border-radius: 50%;
    border: 1px solid #FFF;
    background-color: #FFF;
    float: left;
    box-sizing: border-box;

    .radial-inner-bg {
        border-radius: 50%;
        width: 96%;
        padding-top: 97%;
        top: 2%;
        left: 2%;
        background: #FFF;
        position: absolute;
        box-sizing: border-box;

        div {
            text-align: center;
            position: absolute;
            top: 25%;
            left: 0;
            width: 100%;
            margin: auto;
            display: inline-block;
            box-sizing: border-box;

            span {
                display: block;
            }

            .percentage {
                font-weight: bold;
                font-size: 50px;
            }
        }
    }
}

$step: 1;
$loops: 100;
$increment: (360 / $loops);
$half: round($loops / 2);
@for $i from 0 through $loops {
    .progress-#{$i*$step} {
        $nextdeg: -90deg + ( $increment * ( $i - $half ) );
        background-image: linear-gradient($nextdeg, $primary-color-1 50%, transparent 50%, transparent), linear-gradient(270deg, $primary-color-1 50%, #FFF 50%, #FFF);
    }
}

/********************************* FORM MOBILE */

.mini-layout {
    .list-group {
        .list-group-item {
            padding: 15px 25px;
        }
    }
}

/********************************* FOOD OVERWRITE */

.food-page {
    .navbar-default {
        border: 0;

        .container {
            .row {
                position: relative;

                .navbar-brand {
                    height: 105%;
                    background-image: url('../images/logo-food.png');
                }
            }
        }
    }

    .tagline {
        border-top: 2px solid $food-primary-1;
        color: $food-primary-1;
    }

    .main-menu {
        border-top: 2px solid $food-primary-1;
    }

    .navbar-right .city-title {
        a, .city-name {
            color: $food-primary-1 !important;
        }
    }

    .postcard {
        text-align: left;
        background-image: url('../images/food-bg.svg');
        background-size: 33%;
        background-repeat: no-repeat;
        background-position: left bottom;
        background-color: $food-primary-2;

        h2 {
            text-transform: uppercase;
            font-size: 1.7em;
            font-weight: bold;
            color: $food-primary-1;
        }

        h3 {
            color: $food-primary-1;
        }

        img {
            width: 100%;
        }

        .row {
            margin: 0;

            .col-md-4 {
                padding: 45px 25px;
                font-size: 1.2em;
            }
        }

        .hard-bg {
            background-color: #8AB83B;
            color: #F7E5C8;
            padding: 10px;
        }
    }

    .credits {
        .intro {
            color: $food-primary-1;
        }

        img {
            margin-right: 60px;
        }

        p.details {
            font-size: 10px;
        }
    }
}

/********************************* MEDIA QUERIES */

@media (max-width: 992px) {
    .navbar-default {
        .container {
            .row {
                .navbar-brand-food {
                    height: 45%;
                    top: 10%;
                    left: 40%;
                }

                .navbar-brand-house {
                    height: 45%;
                    top: 10%;
                    left: 51%;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .navbar-default {
        .container {
            .row {
                .navbar-brand {
                    height: 80% !important;
                }

                .navbar-brand-food {
                    height: 80%;
                    width: 10%;
                    top: auto;
                }

                .navbar-brand-house {
                    height: 80%;
                    width: 10%;
                    top: auto;
                }
            }
        }
    }

    .main-menu {
        flex-flow: column;
        margin: 10px 0;

        li {
            flex: 0 0 50%;
        }
    }

    .right-p {
        padding-right: 0 !important;
    }

    .left-p {
        padding-left: 0 !important;
    }

    .food-page {
        .postcard {
            background-size: 100%;
            padding-bottom: 140px;
        }
    }
}
