// Body
$body-bg: #FFFFFF;

// Borders
$laravel-border-color: darken($body-bg, 10%);
$list-group-border: $laravel-border-color;
$navbar-default-border: $laravel-border-color;
$panel-default-border: $laravel-border-color;
$panel-inner-border: $laravel-border-color;

// Brands
$brand-primary: #3097D1;
$brand-info: #8eb4cb;
$brand-success: #2ab27b;
$brand-warning: #cbb956;
$brand-danger: #bf5329;

// Torino
// $primary-color-1: #00E4E4;
// $primary-color-2: #00BFE3;
// $secondary-color-1: #00DDB2;

// Val Susa
// $primary-color-1: #FF3E36;
// $primary-color-2: #FF9D00;
// $secondary-color-1: #FFC11E;

// Milano
$primary-color-1: #DE1159;
$primary-color-2: #404042;
$secondary-color-1: #F68512;

$gray-color-1: #DDD;
$black-1: #000;

$food-primary-1: #8AB83B;
$food-primary-2: #F4DDB6;

// Typography
$font-family-sans-serif: "Work Sans", sans-serif;
$font-size-base: 19px;
$line-height-base: 1.2;
$text-color: #636b6f;

// Navbar
$navbar-default-bg: #fff;

// Buttons
$btn-default-color: $text-color;

// Inputs
$input-border: lighten($text-color, 40%);
$input-border-focus: lighten($brand-primary, 25%);
$input-color-placeholder: lighten($text-color, 30%);

// Panels
$panel-default-heading-bg: #fff;
