@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Work Sans Light'), local('WorkSans-Light'), url(https://fonts.gstatic.com/s/worksans/v2/FD_Udbezj8EHXbdsqLUplz0LW-43aMEzIO6XUTLjad8.woff2) format('woff2');
}

@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Work Sans Light'), local('WorkSans-Light'), url(https://fonts.gstatic.com/s/worksans/v2/FD_Udbezj8EHXbdsqLUpl-gdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
}

@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Work Sans'), local('WorkSans-Regular'), url(https://fonts.gstatic.com/s/worksans/v2/WB2LNay3rHMH1zU8UJnUHBJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
}

@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Work Sans'), local('WorkSans-Regular'), url(https://fonts.gstatic.com/s/worksans/v2/ElUAY9q6T0Ayx4zWzW63VFtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
}

@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Work Sans SemiBold'), local('WorkSans-SemiBold'), url(https://fonts.gstatic.com/s/worksans/v2/z9rX03Xuz9ZNHTMg1_ghGT0LW-43aMEzIO6XUTLjad8.woff2) format('woff2');
}

@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Work Sans SemiBold'), local('WorkSans-SemiBold'), url(https://fonts.gstatic.com/s/worksans/v2/z9rX03Xuz9ZNHTMg1_ghGegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
}

// Variables
@import "variables";

// Bootstrap
@import "bootstrap-sass-3.3.7/assets/stylesheets/bootstrap";

/********************************* COMMONS */

$colors: $primary-color-1 $primary-color-2 $secondary-color-1 $gray-color-1 $black-1;

@each $color in $colors {
    $i: index($colors, $color);

    .primary-#{$i} {
        a {
            color: $color;
        }

        h4 {
            color: $color;
            margin-top: 0;
        }

        .fancy-bg {
            background: repeating-linear-gradient(-45deg, $color, $color 2px, #FFF 2px, #FFF 12px);
        }

        .dense-fancy-bg {
            background: repeating-linear-gradient(-45deg, $color, $color 9px, #FFF 2px, #FFF 12px);
        }

        .txt-color {
            color: $color !important;
        }

        .button {
            @extend .fancy-bg;
            text-align: center;
            border: 0;
            padding: 10px;
            width: 100%;
            display: block;

            span {
                background-color: $color;
                color: #FFF;
                padding: 10px;
                display: block;
                text-transform: uppercase;
            }
        }

        .pagetitle {
            @extend .button;
            margin-bottom: 30px;

            span {
                padding: 20px;
                font-weight: bold;
                font-size: 30px;
            }
        }

        .dense-button {
            @extend .dense-fancy-bg;
            border: 0;
            padding: 17px;
            width: 100%;
            display: block;
            font-size: 40px;
            font-weight: bold;
            text-align: center;

            span {
                background-color: #FFF;
                color: $color;
                padding: 10px;
                display: block;
                text-transform: uppercase;
            }
        }

        .screaming-border {
            border: 15px solid $color;

            span {
                font-weight: bold;
                padding: 15px;
            }
        }

        .nav-tabs {
            display: flex;
            align-items: stretch;
            justify-content: space-between;
            margin-bottom: 10px;

            > li {
                @extend .button;
                text-align: center;

                a {
                    color: #FFF;
                }
            }
        }

        .top-border {
            border-top: 2px solid $color;
        }

        .tb-border {
            border-top: 2px solid $color;
            border-bottom: 2px solid $color;
        }

        .common-card {
            @extend .fancy-bg;
            color: $color;

            .card-main {
                background-color: $color;

                &.empty {
                    background-color: #FFF;
                }
            }

            .card-main-filter {
                background-color: $color;
            }

            .card-footer {
                &.filled {
                    background-color: $color;

                    p {
                        color: #FFF;
                    }
                }
            }
        }

        .bg-color {
            background-color: $color;
        }

        .border-top {
            border-top: 2px solid $color;
        }

        .border-bottom {
            border-bottom: 2px solid $color;
        }

        .bordered-spaced {
            @extend .border-top;
            @extend .border-bottom;
            padding: 20px 0;
            color: $color;
            margin-bottom: 20px;
        }

        hr.colored {
            border-bottom: 2px solid $color;
            background: none;
            margin-top: 30px;
            margin-bottom: 30px;
        }
    }
}

body {
    color: #000;
}

.common-link {
    text-transform: uppercase;
    border-bottom: 1px solid;
    border-color: inherit;
}

.bg-white {
    background-color: #FFF;
}

a:hover {
    text-decoration: none;
}

.arrowlink {
    font-weight: bold;
    text-decoration: underline;

    &:before {
        font-weight: initial;
        font-family: "Work Sans", sans-serif;
        content: "\2192  ";
    }
}

.other-arrowlink {
    font-weight: bold;

    &:after {
        font-weight: initial;
        font-family: "Work Sans", sans-serif;
        content: "\2192  ";
    }
}

hr.black {
    border-bottom: 2px solid #000;
    background: none;
    margin-top: 30px;
    margin-bottom: 30px;
}

h1, .h1, h2, .h2, h3, .h3 {
    margin-top: 0;
}

.control-label {
    color: #000;
    text-transform: uppercase;
    font-weight: normal;
}

input.form-control {
    padding: 10px;
    border: none;
    background-attachment: local;
    background-image: linear-gradient(to left, white 13px, transparent 13px), repeating-linear-gradient(white, white 33px, $primary-color-1 33px, $primary-color-1 34px, white 34px);
    line-height: 31px;
    box-shadow: none;

    &:focus {
        box-shadow: none;
    }
}

textarea.form-control {
    @extend input.form-control;
    height: 105px;
}

.right-p {
    padding-right: 20px !important;
}

.left-p {
    padding-left: 20px !important;
}

.both-p {
    padding: 0 20px !important;
}

.right-border {
    border-right: 1px solid #FFF;
}

.spaced-below {
    margin-bottom: 40px;
}

.spaced-middle {
    margin: 20px 0;
}

.square-block {
    color: #000;
    height: 300px;
    text-align: center;
    display: table;
    margin: 10px;

    .content {
        display: table-cell;
        vertical-align: middle;

        .top {
            padding: 20px;
            font-weight: bold;
            border-bottom: 2px solid $primary-color-2;
            display: inline-block;
        }

        .bottom {
            padding: 20px;
            display: block;
        }
    }
}

.image-frame {
    background-size: cover;
    background-position: center;
}

.vert-align {
    display: table;

    p {
        display: table-cell;
        vertical-align: middle;
    }
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    padding-left: 0;
    padding-right: 0;
}

.modal-content {
    border-radius: 0px;

    .modal-title {
        color: $primary-color-2;
        margin-top: 10px;
    }

    .modal-body {
        > .row {
            margin-left: 10px;
            margin-right: 10px;
            margin-bottom: 0;
        }
    }
}

.common-card {
    width: 100%;
    height: 500px;
    border: 20px solid;
    position: relative;

    .card-main {
        position: absolute;
        top: 5%;
        left: 5%;
        height: 65%;
        max-width: 90%;
        min-width: 90%;
        color: #FFF;
        font-size: 50px;
        box-sizing: border-box;
        text-align: center;
        border-bottom: 0;
    }

    .card-main-filter {
        @extend .card-main;
        opacity: 0.6;
    }

    .card-main-overlay {
        @extend .card-main;
        background-color: transparent !important;
        text-transform: uppercase;
        display: table;

        span {
            font-size: 31px;
            font-weight: bold;
            display: table-cell;
            vertical-align: middle;

            p {
                margin: 0;
            }

            img {
                width: 60%;
            }
        }
    }

    .card-footer {
        position: absolute;
        bottom: 5%;
        left: 5%;
        height: 20%;
        width: 90%;
        background-color: #FFF;
        box-sizing: border-box;
        padding: 20px 30px;
        text-align: center;
        text-transform: uppercase;

        a {
            @extend .common-link;
        }
    }
}

.black {
    color: #000;
}

@media (min-width: 1900px) {
    .container {
        width: 1350px;
    }
}

/********************************* NAVIGAZIONE */

.navbar-default {
    border: 0;
}

.navbar-right {
    margin-top: 20px;
    padding-top: 10px;
    border-top: 2px solid $primary-color-2;
    text-transform: uppercase;

    .row {
        margin-left: 0;
    }

    span {
        text-transform: none;
    }
}

.navbar-nav {
    > li {
        a {
            padding: 3px 0;
            text-decoration: none;
            color: #000 !important;
        }
    }
}

.tagline {
    border-top: 2px solid $primary-color-2;
    padding: 20px 0;
    display: block;
    color: $primary-color-2;

    &:before {
        font-family: "Work Sans", sans-serif;
        content: "\2192";
        margin-right: 5px;
    }
}

.main-menu {
    border-top: 2px solid $primary-color-2;
    margin-bottom: 40px;
    padding: 30px 0 0 0;
    display: flex;
    align-items: stretch;
    justify-content: space-between;

    li {
        text-transform: uppercase;
        list-style: none;
        flex: 0 1 auto;

        a {
            color: #000;
            text-decoration: none;
        }
    }
}

/********************************* HOMEPAGE */

.header-claim {
    box-sizing: border-box;
    color: #FFF;
    padding: 30px;
    margin-bottom: 40px;
    font-size: 35px;
    text-align: center;

    a {
        @extend .common-link;
        font-size: $font-size-base;
        color: inherit;
    }
}

.tb-border {
    height: 500px;
}

.double-side {
    font-size: 28px;
    display: table;

    .col-md-4 {
        float: none;
        display: table-cell;
        vertical-align: middle;
    }

    img {
        width: 70%;
    }
}

/********************************* CELO/MANCA */

.categories-select {
    margin: 40px 0;
    padding: 0;

    .border-top {
        span {
            padding: 15px 0;
            display: block;

            a {
                color: #000;
                text-decoration: none;
            }
        }
    }

    ul {
        padding-left: 10px;
    }

    li {
        list-style: none;
        text-transform: uppercase;

        &.selected {
            font-weight: bold;

            li {
                span {
                    font-weight: bold;
                }
            }
        }
    }
}

.show-details {
    cursor: pointer;
}

.fileuploader {
    cursor: pointer;
    margin-bottom: 20px;
}

.removefile {
    cursor: pointer;
    color: #F00 !important;
}

#mapid {
    height: 100%;
}

.map-select {
    width: 100%;
    height: 300px;
}

.celo, .manca {
    .common-card {
        margin-bottom: 22px;
    }
}

/********************************* PROGETTO */

.credits {
    font-size: 17px;

    .intro {
        text-decoration: underline;
        color: $primary-color-1;
    }
}

/********************************* COME FUNZIONA */

.working {
    a {
        color: #000;
        text-decoration: underline;
    }
}

/********************************* MIE DONAZIONI */

.mydonations {
    color: #000;

    .mydonation {
        border-top: 2px solid #000;
        padding-top: 20px;
        margin: 20px 0;
        display: block;
        width: 48%;

        h2 {
            display: inline-block;
            text-transform: uppercase;
            border-bottom: 2px solid #000;
        }

        &:nth-child(even) {
            float: right;
        }

        &:nth-child(odd) {
            float: left;
        }
    }
}

/********************************* NUMERI */

.numbers {
    .metric {
        float: left;
        width: 100%;
        display: flex;
        align-items: center;

        .name {
            width: 30%;
            margin: 0 20px;
            display: inline-block;
            text-align: right;
            text-transform: uppercase;
        }

        .bar {
            width: 69%;
            float: right;
            display: flex;
            align-items: center;

            .indicator {
                background: repeating-linear-gradient(90deg, #000, #000 4px, #FFF 2px, #FFF 7px);
                margin-right: 20px;
                display: inline-block;
            }

            span {
                font-size: 40px;
                display: inline-block;
            }
        }
    }
}

.item {
    margin: 20px;
    position: relative;
    width: 90%;
    padding-top: 90%;
    border-radius: 50%;
    border: 1px solid #FFF;
    background-color: #FFF;
    float: left;
    box-sizing: border-box;

    .radial-inner-bg {
        border-radius: 50%;
        width: 96%;
        padding-top: 97%;
        top: 2%;
        left: 2%;
        background: #FFF;
        position: absolute;
        box-sizing: border-box;

        div {
            text-align: center;
            position: absolute;
            top: 35%;
            left: 0;
            width: 100%;
            margin: auto;
            display: inline-block;
            box-sizing: border-box;

            span {
                display: block;
            }

            .percentage {
                font-weight: bold;
                font-size: 50px;
            }
        }
    }
}

$step: 1;
$loops: 100;
$increment: (360 / $loops);
$half: round($loops / 2);
@for $i from 0 through $loops {
    .progress-#{$i*$step} {
        $nextdeg: -90deg + ( $increment * ( $i - $half ) );
        background-image: linear-gradient($nextdeg, #00BFE3 50%, transparent 50%, transparent), linear-gradient(270deg, #00BFE3 50%, #FFF 50%, #FFF);
    }
}
