$primary-color-1: #8EBC2E;
$primary-color-2: #BD3153;
$secondary-color-1: #921831;

@import "app";

.navbar-right {
    .top-main-buttons {
        height: 80px;
    }

    .city-title {
        .city-name {
            display: none;
        }
    }
}
